.layout {
  display: flex;

  min-height: 100vh;
}

.main {
  flex: 1;

  min-width: 0;
  padding: var(--spacing-lg);
}

@media (width <= 768px) {
  .layout {
    display: block;
  }

  .main {
    width: 100%;
    padding: var(--spacing-md);
    padding-top: 4.5rem;
  }
}
